/* Font face for web template */
@include font-face(
  "AgrandirVariable",
  "#{$assets_path}fonts/AgrandirVariable/AgrandirVariable-Regular",
  500
);
@include font-face(
  "MinionPro",
  "#{$assets_path}fonts/MinionPro/MinionPro-Regular",
  500
);
body {
  font-family: "AgrandirVariable", serif !important;
  font-weight: 600 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AgrandirVariable", serif !important;
  font-weight: 900 !important;
}